@use "./variables" as vars;

$placeholder: #808080;
$table-row-dark: #222629;
$table-row-light: #3b3c3c;

.hyve-button {
  @apply px-4 py-1 w-auto text-center;
  cursor: pointer;
  font-weight: bold;
  min-width: 150px;
  transition: all vars.$transition_time ease-in-out;

  &.cancel {
    background-color: vars.$grey;
    border: vars.$border_width solid vars.$grey;
    color: vars.$white;

    &:hover {
      background-color: vars.$black;
    }

    &:disabled:hover {
      background-color: vars.$grey;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  &.default,
  &.link,
  &.submission {
    background-color: vars.$green;
    border: vars.$border_width solid vars.$green;
    color: vars.$black;

    &:hover {
      background-color: vars.$black;
      color: vars.$green;
      opacity: 1;
    }

    &:disabled:hover {
      background-color: vars.$green;
      color: vars.$black;
    }
  }
}

.hyve-card {
  @apply w-full;
  border: 2px solid vars.$grey;

  .card-head {
    @apply px-4 py-2 w-full flex flex-row gap-1 items-center;
    background-color: $table-row-light;
    border-bottom: 2px solid vars.$grey;

    p {
      @apply text-lg font-bold;
    }
  }

  .card-body {
    @apply px-4 py-2 w-full;

    .indent {
      @apply ml-4;
    }
  }
}

.hyve-company-card {
  @apply flex flex-col gap-2 py-2 px-4 relative;
  border: vars.$border_width_lg solid vars.$green;

  > .link-overlay {
    @apply absolute top-0 left-0 w-full h-full;
    cursor: pointer;
    z-index: 2;
  }

  > p {
    > span {
      color: vars.$blue;
    }
  }
}

.hyve-form {
  @apply flex flex-col gap-4 w-full relative;
  // max-width: 400px;

  .button-container {
    @apply w-full flex flex-row gap-2;
  }

  .completion-container {
    @apply w-full;
    animation: show vars.$transition_time ease-in-out forwards;
    overflow: hidden;

    > div {
      @apply p-2 flex flex-col gap-2 w-full;
      border: vars.$border_width_lg solid vars.$green;

      p {
        @apply text-sm;
        white-space: pre-wrap;
      }
    }
  }

  .content-container {
    @apply flex flex-col gap-2 items-center w-full;
  }

  .error-container {
    @apply w-full;
    animation: show vars.$transition_time ease-in-out forwards;
    overflow: hidden;

    > div {
      @apply p-2 flex flex-col gap-2 w-full;
      border: vars.$border_width_lg solid vars.$red;

      p {
        @apply text-sm;
        white-space: pre-wrap;
      }
    }
  }

  &.loading {
    .content-container {
      filter: blur(5);
    }
  }
}

.hyve-input {
  @apply w-full flex relative;
  background-color: vars.$grey;

  > input,
  > textarea {
    @apply px-2 pb-2 pt-3 w-full relative;
    z-index: 2;

    &::placeholder {
      color: $placeholder;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px vars.$grey inset;
      -webkit-text-fill-color: vars.$white;
    }

    &:disabled {
      opacity: 0.6;
      background-color: vars.$black;
    }
  }

  > label,
  .label {
    @apply px-2 pb-2 pt-3 w-full absolute;
    left: 0;
    top: 0;
    transition: all vars.$transition_time ease-in-out;

    > sup {
      top: -0.3em;
    }
  }

  .password-icon {
    @apply absolute bottom-2 right-2;
    cursor: pointer;
    transition: opacity vars.$transition_time ease-in-out;
    z-index: 3;

    &:hover {
      opacity: 0.5;
    }
  }

  &.active {
    &::after {
      background-color: vars.$blue;
    }

    &.focused {
      &::after {
        background-color: vars.$green;
      }
    }
  }

  &.error {
    &::after {
      background-color: vars.$red;
    }

    &.focused {
      &::after {
        background-color: vars.$green;
      }
    }
  }

  &.select {
    > label,
    .label {
      cursor: pointer;
    }

    .select-value {
      @apply px-2 pb-2 pt-3 w-full relative;
      cursor: pointer;
      min-height: 44px;
      z-index: 2;
    }

    .options-container {
      @apply absolute w-full;
      top: 100%;
      left: 0;
      overflow: hidden;
      z-index: 11;

      > ul {
        @apply flex flex-col w-full;
        animation: show vars.$transition_time ease-in-out forwards;
        background-color: vars.$grey;
        border: 2px solid vars.$green;
        border-top: none;

        > li {
          @apply px-2 py-1 w-full;
          cursor: pointer;
          transition: all vars.$transition_time ease-in-out;

          &:nth-child(1) {
            cursor: initial;
          }

          &:hover {
            background-color: vars.$black;
          }
        }
      }
    }

    .options-background {
      @apply fixed;
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;
      z-index: 10;
    }

    &.focused {
      > label,
      .label {
        @apply pt-3;
        font-size: inherit;
        top: 0;
      }
    }
  }

  &.active,
  &.error,
  &.focused {
    > label,
    .label {
      z-index: 3;
    }

    &::after {
      left: 0%;
      width: 100%;
    }
  }

  &.active,
  &.focused {
    > label,
    .label {
      @apply text-xs;
      padding-top: 0;
      top: 0em;
    }
  }

  &::after {
    background-color: vars.$green;
    bottom: 0px;
    content: "";
    height: vars.$border_width;
    left: 50%;
    position: absolute;
    transform-origin: center;
    transition: all vars.$transition_time ease-in-out;
    width: 0;
    z-index: 2;
  }
}

.hyve-table {
  > table {
    @apply w-full text-left;

    > thead {
      left: 0;
      position: sticky;
      top: 0;

      tr {
        background-color: $table-row-light;

        th {
          @apply py-1 px-2;

          p {
            font-weight: bold;
          }
        }
      }
    }

    > tbody {
      tr {
        cursor: pointer;
        transition: all vars.$transition_time ease-in-out;

        &:nth-child(even) {
          background-color: $table-row-light;
        }

        &:nth-child(odd) {
          background-color: $table-row-dark;
        }

        &:hover {
          opacity: 0.5;
        }

        td {
          @apply py-1 px-2;
        }
      }
    }
  }

  > .loading-container {
    position: relative;
  }
}

.hyve-toast-container {
  @apply fixed top-0 right-0 flex flex-col gap-2 pr-4 pt-4;
  height: 0;
  overflow: visible;
  z-index: 12;

  .hyve-toast {
    @apply py-2 px-4 pr-10 flex flex-col gap-0 relative;
    animation: slide-in-right vars.$transition_time ease-in-out forwards;
    color: vars.$black;
    width: 320px;

    .close-container {
      @apply absolute top-3 right-4;
      cursor: pointer;
      transition: opacity vars.$transition_time ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    &.error {
      background-color: vars.$red;
    }

    &.success {
      background-color: vars.$green;
    }
  }
}

.loading-container {
  @apply absolute flex flex-col items-center justify-center h-full w-full top-0 left-0;
  z-index: 10;

  .loading-icon {
    animation: spin vars.$transition_time linear infinite;
    border: vars.$border_width_lg solid vars.$grey;
    border-radius: 50%;
    border-top: vars.$border_width_lg solid vars.$green;
    height: 75px;
    width: 75px;
  }
}

.percentage-ring-container {
  @apply relative;
  background-color: vars.$black;
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;

  .percentage-ring {
    @apply relative w-full h-full;
    background: conic-gradient(vars.$blue 0% 0%, vars.$grey 0% 100%);
    border-radius: 50%;
    transition: all 300ms ease-in-out;

    &::after {
      @apply absolute;
      background-color: vars.$black;
      border-radius: 50%;
      content: "";
      display: block;
      height: calc(100% - 5px);
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: calc(100% - 5px);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    max-height: 0px;
    opacity: 0;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    translate: 120% 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    translate: 0;
  }
}
