/* Colors */
$black: #222629;
$blue: #03c1de;
$green: #8ac53f;
$grey: #4d5154;
$red: #d02b2b;
$white: #b5b5b5;

/* Sizes */
$border_width: 2px;
$border_width_lg: 4px;
$screen_max_width: 1500px;

/* Timings */
$transition_time: 300ms;
